.main__block{width: 100%; height: 100vh; position: relative;}
.main__wrap{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; position: relative;}
.main__text{width: 100%; display: flex; flex-direction: column; align-items: center;}
.main__text .big-text{display: flex; align-items: flex-end;}
.main__text .big-text h1{font-size: 100px; font-weight: 900; color: #fff; position: relative;}
.main__text .big-text h1 span{display: inline-block; transform: translateY(-50%); opacity: 0;}
.main__text .big-text .smile{margin-left: 15px; transform: translateY(-50px);}
#afterSmile{visibility:hidden;}
.main__text .small-text-block {width: 100%; height: 84px; overflow: hidden; position: relative;}
.main__text .small-text-wrap{width: 100%; position: absolute; left: 50%; top: 100px; transform: translateX(-50%); opacity: 0;}
.main__text .small-text-wrap p{font-size: 60px; line-height: 1.4; font-weight: 700; color: #fff; text-align: center;}
.main__text-last{position: absolute; left: 50%; transform: translateX(-50%);}
.main__text-last h1{font-size: 100px; font-weight: 900; color: #fff;}


@media (max-width:1280px){
    .main__text .big-text h1{font-size: 3rem;}
    .main__text .big-text .smile{width: 95px; height: 80px;}
    .main__text .small-text-block{height: 56px; margin-top: 20px;}
    .main__text .small-text-wrap p{font-size: 2rem;}

    .main__text-last h1{font-size: 2.5rem;}
}

@media (max-width:759px){
    .main__text .big-text h1{font-size: 2.5rem;}
    .main__text .big-text .smile{width: 80px; height: 66px;}
    .main__text .small-text-block{height: 50px; margin-top: 20px;}
    .main__text .small-text-wrap{top: 50px;}
    .main__text .small-text-wrap p{font-size: 1.5rem;}
}

@media (max-width:500px){
    .main__text .big-text h1{font-size: 1.4rem;}
    .main__text .big-text .smile{width: 55px; height: 40px;}
    .main__text .small-text-block{height: 30px; margin-top: 15px;}
    .main__text .small-text-wrap{top: 20px;}
    .main__text .small-text-wrap p{font-size: 0.9rem;}
    .main__text-last h1{font-size: 1.4rem;}
}