$color-html: hsl(15, 100%, 60%);
$color-js: #60a313;
$color-jq: #0767a8;
$color-react: #5ed3f3;
$color-design: #e83543;

$porcent-html: 55;
$porcent-js: 53;
$porcent-jq: 53;
$porcent-react: 50;
$porcent-design: 55;


.progressbar {position: relative; width: 100px; height: 100px; transform: rotate(-90deg); margin-top: 35px;}
.progressbar__svg {position: relative; width: 100%; height: 100%;}
.progressbar__svg-circle {width: 100%; height: 100%; fill: none; stroke-width: 5; stroke-dasharray: 440; stroke-dashoffset: 440; stroke-linecap: round; transform: translate(5px, 5px);}
.progressbar__text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: white;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
}


.stroke{
    &-html {
        stroke: $color-html;
    }
    &-js {
        stroke: $color-js;
    }
    &-jq {
        stroke: $color-jq;
    }
    &-react {
        stroke: $color-react;
    }
    &-design {
        stroke: $color-design;
    }
}
.circle {
	&-html {
		animation: anim_circle-html 1s ease-in-out forwards;
	}	
	&-js {
		animation: anim_circle-js 1s ease-in-out forwards;
	}
	&-jq {
		animation: anim_circle-jq 1s ease-in-out forwards;
	}
	&-react {
		animation: anim_circle-react 1s ease-in-out forwards;
    }
    &-design {
		animation: anim_circle-design 1s ease-in-out forwards;
    }
}

@function strokeDashoffset($num) {
	@return 440 - (440 * $num) / 100;
}

//  @keyframes
@keyframes anim_circle-html {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-html);
	}
}

@keyframes anim_circle-js {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-js);
	}
}

@keyframes anim_circle-jq {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-jq);
	}
}

@keyframes anim_circle-react {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-react);
	}
}

@keyframes anim_circle-design {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-design);
	}
}