@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.border-top-point{border-top: 1px solid #efd97f;}
.border-bottom-white{border-bottom: 1px solid #fff;}

.sub-block{width: 100%; height: auto; position: relative; display: flex; justify-content: flex-end;overflow-y: auto; scrollbar-width: none; /* Firefox */}
.sub-block::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}
.sub-wrap{max-width: 1200px; width: 100%; padding: 100px 0;}
.sub-tit{display: flex; align-items: center;}
.sub-tit svg{margin-top: 5px; color: #efd97f;}
.sub-tit b{margin-left: 5px; font-size: 24px; font-weight: 500; color: #efd97f;}

/* 소개 페이지 */
.intro-block .sub-wrap{}
.sub-block .title{display: flex;}
.sub-block .title h1{font-size: 65px; font-weight: 900; color: #fff; position: relative;}
.sub-block .title h1 span{display: inline-block; transform: translateY(-50%); opacity: 0;}
.sub-block .title .smile{width: 110px; height: 75px; margin-left: 15px; transform: translateY(-50px);}
#afterSmile{visibility:hidden;}

.intro-block .contents>div{display: flex; justify-content: space-between; padding: 38px 0 150px;}
.intro-block .contents .tit h1{font-size: 36px; color: #efd97f; text-transform: uppercase;}
.intro-block .contents .contents__right{margin-left: 9.66%; margin-top: 5px; width: 71%;}
.intro-block .contents .contents__right .profile__imgTxt{display: flex;}
.intro-block .contents .contents__right .profile__imgTxt .profile-img{width: 168px; height: 168px; overflow: hidden;}
.intro-block .contents .contents__right .profile__imgTxt .profile-img img{width: 100%;}
.intro-block .contents .contents__right .profile__imgTxt ul{margin-left: 7.27%;}
.intro-block .contents .contents__right .profile__imgTxt ul li{display: flex;}
.intro-block .contents .contents__right .profile__imgTxt ul li+li{margin-top: 20px;}
.intro-block .contents .contents__right .profile__imgTxt ul li b{font-size: 20px; color: #fff;}
.intro-block .contents .contents__right .profile__imgTxt ul li p{margin-left: 20px; font-size: 16px; color: #fff; font-family: 'GmarketSansMedium'; font-weight: 300; line-height: 1.4;}
.intro-block .contents .contents__right .keyword{display: flex; align-items: center;}
.intro-block .contents .contents__right .keyword p{margin-left: 11.66%; font-size: 18px; font-family: 'GmarketSansMedium'; font-weight: 300; line-height: 1.4; color: #fff;}
.intro-block .contents .contents__right .techStack ul{display: flex; flex-wrap: wrap;}
.intro-block .contents .contents__right .techStack ul li{width:37.57%; margin-right:4.43%; margin-top: 35px; padding: 30px; display: flex; flex-direction: column; align-items: center; border: 1px solid #fff; box-sizing: border-box;}
.intro-block .contents .contents__right .techStack ul li strong{display: block; width: 100%; padding-bottom: 15px; border-bottom: 1px solid #fff; color: #fff; font-size: 24px; text-align: center;}
.intro-block .contents .contents__right .techStack ul li p{width: 100%; margin-top: 35px; font-family: 'GmarketSansMedium'; font-size: 16px; font-weight: 500; text-align: center; color: #fff; line-height: 1.6;}
.intro-block .contents .contents__right .techStack ul li .progressbar{position: relative; margin-top: 35px; width: 100px; height: 100px;}
.intro-block .contents .contents__right .techStack ul li .progressbar svg{width: 100%; height: 100%; transform: rotate(-90deg);}
.intro-block .contents .contents__right .techStack ul li .progressbar svg .progressbar__svg-circle{fill: none; stroke-width: 5; stroke-dasharray: 251; stroke-dashoffset: 251;}
.intro-block .contents .contents__right .techStack ul li .progressbar .progressbar__text{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); border-radius: 0.25em;}
.intro-block .contents .contents__right .techStack ul li:nth-child(2n){margin-right: 0;}

.text-html { color: hsl(15, 100%, 60%);}
.text-js { color: #60a313;}
.text-jq { color: #0767a8;}
.text-react { color: #5ed3f3;}
.text-design { color: #e83543;}

.intro-block .contents .skills .tit span{font-weight: 700; color: #efd97f; font-size: 20px; line-height: 1.8; text-transform: uppercase;}
.intro-block .contents .skills .contents__right{margin-top: 0;}
.intro-block .contents .skills .contents__right ul{display: flex; margin-top: 10px;}
.intro-block .contents .skills .contents__right ul li{display: flex; align-items: center;}
.intro-block .contents .skills .contents__right ul li+li{margin-left: 60px;}
.intro-block .contents .skills .contents__right ul li p{margin-left: 20px; font-size: 20px; color: #fff;}

.intro-block .contents .career .contents__right{margin-top: 0;}
.intro-block .contents .career .contents__right table{border-collapse: collapse;}
.intro-block .contents .career .contents__right table td{padding: 10px 0; font-family: 'GmarketSansMedium'; font-size: 16px; line-height: 1.3; color: #fff; word-break: keep-all;}
.intro-block .contents .career .contents__right table td:last-child{padding-left: 30px;}


.project-block .title-block{display: flex;}
.project-block .title-block h1:last-child{margin-left: 20px;}
.project-block .title-block{display: flex;}
.project-block .title-block h1:last-child{margin-left: 20px;}
.project-block .contents{padding-right: 5%;}
.project-block .projects{display: flex; flex-wrap: wrap;}
.project-block .projects .project-list{width:47.36%; margin-right: 5%; margin-top: 60px; padding: 20px 40px; display: flex; flex-direction: column; justify-content: center; align-items: center; border: 1px solid #fff; box-sizing: border-box;}
.project-block .projects .project-list:nth-child(2n){margin-right: 0;}
.project-block .projects .project-list .subject{display: flex; align-items: center; justify-content: center; padding: 15px 0;}
.project-block .projects .project-list .subject strong{font-size: 24px; font-weight: 500; font-family: 'GmarketSansMedium'; color: #fff; line-height: 1;}
.project-block .projects .project-list .explain{width: 100%;}
.project-block .projects .project-list .explain li{padding-left: 20px; font-size: 18px; font-weight: 300; font-family: 'GmarketSansMedium'; color: #fff; line-height: 1.3; position: relative;}
.project-block .projects .project-list .explain li::before{position: absolute; left: 0; top: 50%; transform: translateY(-50%); content: ""; display: block; width: 3px; height: 3px; border-radius: 50%; border: 2px solid rgba(255,255,255,.5);}
.project-block .projects .project-list .explain li a{display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 18px; font-weight: 500; font-family: 'GmarketSansMedium'; color: #fff; line-height: 1.8; transition: all .5s; animation: textClink 1.3s linear 0s infinite;}
.project-block .projects .project-list .explain li a:hover{color: #c3b98f; animation-play-state: paused;}
.project-block .projects .project-list .explain li .click{position: relative; display: inline-block; max-height: 28px; background-color: #efd97f; padding: 0 10px; border-radius: 5px; box-sizing: border-box; animation: arrowMove 1.3s linear 0s infinite; transform: translateX(5px); margin-left: 10px;}
.project-block .projects .project-list .explain li .click span{font-size: 16px; font-weight: 500; font-family: 'GmarketSansMedium'; color: #000; line-height: 1;}
.project-block .projects .project-list .explain li .click::after{width: 0; height: 0; border-bottom: 4px solid transparent; border-top: 4px solid transparent; border-left: 0px solid transparent; border-right: 8px solid #efd97f; content: ""; position: absolute; top: 50%; left: -8px; transform: translateY(-50%);}
.project-block .projects .project-list .explain li+li{margin-top: 10px;}


@keyframes arrowMove {
    0% {transform: translateX(5px)}
	20% {transform: translateX(8px)}
	40% {transform: translateX(5px)}
	60% {transform: translateX(8px)}
	80% {transform: translateX(5px)}
	100% {transform: translateX(5px)}
}

@keyframes textClink {
    0% {color: #fff;}
	20% {color: #c3b98f;}
	40% {color: #fff;}
	60% {color: #c3b98f;}
	80% {color: #fff;}
	100% {color: #fff;}
}


.contact h5{font-size: 24px; line-height: 1.6; font-family: 'GmarketSansMedium'; color: #fff;}
.contact .contact-con p{font-size: 18px; font-weight: 300; line-height: 1.4; font-family: 'GmarketSansMedium'; color: #fff;}
.contact .contact-con p+p{margin-top: 20px;}
.contact table{border-collapse: collapse;}
.contact table td{padding: 6px 0; font-size: 20px;  font-weight: 700; color: #fff;}
.contact table td.contact__tableTit{font-size: 20px; font-weight: 900; color: #c3b98f; text-transform: uppercase;}
.contact table td:last-child{padding-left: 30px;}



@media (max-width:1600px){
    .sub-wrap{max-width: 1000px;}
    .intro-block .contents .contents__right{margin-left: 4%;}
    .intro-block .contents .contents__right .keyword .profile{padding-right: 4%;}
    .intro-block .contents .contents__right .keyword{padding-right: 4%;}
    .intro-block .contents .contents__right .keyword p{margin-left: 8.66%; word-break: keep-all;}
    .intro-block .contents .contents__right .techStack{padding-right: 4%;}
    .intro-block .contents .contents__right .techStack ul li{width: 47.57%; padding: 20px;}
}

@media (max-width:1440px){
    .sub-wrap {max-width: 860px;}
    .intro-block .contents .contents__right .profile__imgTxt{flex-direction: column;}
    .intro-block .contents .contents__right .profile__imgTxt ul{margin-left: 0; margin-top: 35px;}
    .intro-block .contents .contents__right .techStack ul{margin-top: 0;}
    .contact ul li b{width: 15%;}
}
@media (max-width:1280px){
    .sub-block{position: static; padding: 150px 0;}
    .sub-wrap{max-width: initial; padding: 0 40px;}

    .contents{margin-top: 60px;}

    .intro-block .contents .contents__right .techStack{padding-right: 0;}
    .project-block .contents{padding-right: 0;}
}

@media (max-width:1024px){
    .sub-block .title h1{font-size: 2.5rem;}
    .sub-block .title .smile{width: 80px; height: 52px;}

    .intro-block .contents>div{flex-direction: column;}
    .intro-block .contents .contents__right{margin-left: 0; margin-top: 60px; width: 100%;}

    .intro-block .contents .career .contents__right{margin-top: 60px;}
    .intro-block .contents .skills .contents__right{margin-top: 60px;}
}

@media (max-width:759px){
    .contact{padding-top: 60px;}
    .contact h5 br{display: none;}
    .contact .contact-con p br{display: none;}

    .project-block .projects .project-list{padding: 30px 20px;}
    .project-block .projects .project-list .explain li{font-size: 16px;}
    .project-block .projects .project-list .explain li a{font-size: 16px;}
}

@media (max-width:500px){
    .sub-block{padding: 100px 0;}
    .sub-block .title h1{font-size: 1.4rem;}
    .sub-block .title .smile {width: 50px; height: 30px; margin-left: 5px;}

    .sub-wrap{padding: 0 20px; box-sizing: border-box;}
    .contents{margin-top: 35px;}

    .intro-block .contents .tit h1{font-size: 28px;}
    .sub-tit b{font-size: 20px;}
    .intro-block .contents .contents__right{margin-top: 35px;}
    .intro-block .contents .contents__right .keyword{align-items: flex-start;}
    .intro-block .contents .contents__right .keyword p{font-size: 16px;}
    .intro-block .contents .contents__right .techStack ul{justify-content: center;}
    .intro-block .contents .contents__right .techStack ul li{width: 80%; margin-right: 0;}

    .project-block .projects{justify-content: center;}
    .project-block .projects .project-list{width: 90%; margin-right: 0; margin-top: 35px;}
    
    .contact .contact-con{margin-top: 35px;}
    .contact h5{font-size: 20px;}
    .contact .contact-con p{font-size: 16px;}
    .contact table{width: 100%;}
    .contact table td:last-child{padding-left: 0;}
    .contact table td.contact__tableTit{font-size: 16px; width: 35%;}
    .contact table td:last-child{font-size: 16px; width: 65%;}
}


@media (max-width:375px){
    .intro-block .contents .skills .contents__right ul{flex-direction: column;}
    .intro-block .contents .skills .contents__right ul li+li {margin-left: 0px; margin-top: 15px;}
    .intro-block .contents .contents__right .techStack ul li{width: 100%;}

    .project-block .projects .project-list{width: 100%;}

    .contact table td.contact__tableTit{width:45%}
    .contact table td:last-child{width: 55%;}
}
